<?xml version="1.0" encoding="UTF-8"?>
   <Configuration status="INFO">
      <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
          <PatternLayout pattern="%highlight{%-6p[%d] [%t] (%F\:%L) - %m%n}"/>
        </Console>

        <RollingFile name="ErrorFile" fileName="logs/error.log" filePattern="logs/gsn-%i.log">
          <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
          <PatternLayout pattern="%-6p[%d] [%t] (%F\:%L) - %m%n"/>
            <Policies>
        		  <SizeBasedTriggeringPolicy size="100 MB"/>
      		  </Policies>
          <DefaultRolloverStrategy max="20" fileIndex="min"/>
        </RollingFile >

        <RollingFile name="LogFile" fileName="logs/gsn.log" filePattern="logs/gsn-%i.log">
          <PatternLayout pattern="%-6p[%d] [%t] (%F\:%L) - %m%n"/>
            <Policies>
        		  <SizeBasedTriggeringPolicy size="250 MB"/>
      		  </Policies>
          <DefaultRolloverStrategy max="20" fileIndex="min"/>
        </RollingFile >

      </Appenders>
      <Loggers>
        <!-- The set of built-in levels includes ALL, TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and OFF. -->
        <Root level="info">
        <!-- <Root level="error"> -->
          <AppenderRef ref="Console" level="FATAL"/>
          <AppenderRef ref="LogFile" level="INFO"/>
          <AppenderRef ref="ErrorFile" level="ERROR"/>
        </Root>
        
        <Logger name="ch.epfl.gsn.beans.StreamElement" level="ERROR" additivity="true" />

        <Logger name="com.mchange" level="WARN" additivity="true" />
        <Logger name="org.apache" level="WARN" additivity="true" />
        <Logger name="org.apache.axis.enterprise" level="FATAL" additivity="true" />
        <Logger name="httpclient.wire" level="WARN" additivity="true" />
        <Logger name="org.eclipse.jetty" level="WARN" additivity="true" />
        <Logger name="net.sf.jasperreports" level="WARN" additivity="true" />
        <Logger name="ch.epfl.gsn.http.rest" level="ERROR" additivity="true" />
      </Loggers>
    </Configuration>