<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Comparison</h1>

            <h4>Chosen sensors</h4>
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let sensor of sensors">
                        <td><a [routerLink]="'/sensors/' + sensor">{{sensor}}</a></td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="remove(sensor)"
                                [disabled]="true">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div [formGroup]="formGroup">
                <h4>Filtering</h4>
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center">
                        <label>From</label>
                        <app-date-time-picker formControlName="startDate" name="startDate"></app-date-time-picker>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                        <label>To</label>
                        <app-date-time-picker formControlName="endDate" name="endDate"></app-date-time-picker>
                    </div>
                    <div class="col-md-4 d-flex align-items-center">
                        <button class="btn btn-primary" (click)="submit()" [disabled]="!formGroup.valid">
                            <i class="fa fa-download"></i> Download
                        </button>
                    </div>
                </div>
            </div>

            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [legend]="lineChartLegend" type="line"  style="margin-top: 40px;">
            </canvas>

        </div>
    </div>
</div>