<div class="row">
  <div class="col-12">
    <h1 class="page-header">Sensors List</h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div id="map" style="width: 100%; height: 400px;"></div><!-- Add the map container -->
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div *ngFor="let sensor of sensors" class="card mb-3">
      <div class="card-header">
        <div class="pull-right" *ngIf="favorites.indexOf(sensor.properties.vs_name) > -1">
          <i class="bi bi-star-fill"></i>
          <a [routerLink]="['/sensors', sensor.properties.vs_name]">
            {{ sensor.properties.vs_name }}
          </a>
        </div>
        <div class="pull-right" *ngIf="favorites.indexOf(sensor.properties.vs_name) == -1">
          <a [routerLink]="['/sensors', sensor.properties.vs_name]">
            {{ sensor.properties.vs_name }}
          </a>
        </div>
      </div>

      <div class="card-body">
        <p><b>Description:</b> {{ sensor.properties.description }}</p>

        <p *ngIf="sensor.properties.geographical"><b>Location:</b> {{ sensor.properties.geographical }}</p>
        <ul *ngIf="sensor.geometry != null && sensor.geometry.coordinates">
          <li *ngIf="sensor.geometry.coordinates[0]"><b>Latitude:</b> {{ sensor.geometry.coordinates[0] }}</li>
          <li *ngIf="sensor.geometry.coordinates[1]"><b>Longitude:</b> {{ sensor.geometry.coordinates[1] }}</li>
          <li *ngIf="sensor.geometry.coordinates[2]"><b>Altitude:</b> {{ sensor.geometry.coordinates[2] }}</li>
        </ul>
        <p><b>Protected:</b> {{ sensor.properties.accessProtected }}</p>
      </div>
    </div>
  </div>
</div>
