<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header">Dashboard</h1>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <ng-container *ngFor="let sensor of sensors | keyvalue">
                        <tr>
                            <td class="vertical-alignment">{{ sensor.key }}</td>
                            <td></td> <!-- Empty column for spacing -->
                            <td class="text-right">
                                <button (click)="removeFavorite(sensor.key)" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"> <!-- Set colspan to 3 to span across three columns -->
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let field of sensor.value['fields']">{{ field.name }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td *ngFor="let value of sensor.value['values']">{{ value }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
