<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline" style="color: grey;">Global Sensor Network</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-link px-0 align-middle">
                        <input type="text" class="form-control" placeholder="Filter Sensors..." ng-model="query">
                    </li>
                    <li>
                        <a href="/sensors" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Sensors</span></a>
                    </li>
                    <li>
                        <a href="/dashboard" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/compare" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-card-list"></i> <span class="ms-1 d-none d-sm-inline">Compare</span></a>
                    </li>
                    <li>
                        <a href="/map" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-globe-europe-africa"></i> <span class="ms-1 d-none d-sm-inline">Around
                                Me</span> </a>
                    </li>
                    <li>
                        <a href="/download" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-save-fill"></i> <span class="ms-1 d-none d-sm-inline">Data Export</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <div *ngIf="user == null || user.logged_in == false">
                        <button style="color:gray;"  (click)="login()" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-box-arrow-in-right"></i> <span
                                class="ms-1 d-none d-sm-inline">Login</span></button>
                    </div>
                    <div *ngIf="user && user.logged_in == true">
                        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" style="color:gray;"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-sm-inline mx-1">{{user.username}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><button class="dropdown-item" href="#">New project...</button></li>
                            <li><button class="dropdown-item" href="#">Settings</button></li>
                            <li><button class="dropdown-item" href="#">Profile</button></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><button class="dropdown-item" (click)="logout()">Log out</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-10">
            <div id="page-wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer style="margin: auto; margin-bottom: 2em; margin-top: 2em">
        <div style="text-align: center">
            LSIR, EPFL
        </div>
    </footer>
</div>