<div class="row">
  <div class="col-12">
    <h1 class="page-header">Sensor Detail: {{ sensorName }}</h1>
  </div>

  <div *ngIf="loading" us-spinner style="position: relative"></div>

  <p class="col-12 lead" *ngIf="details==undefined && !loading">
    This sensor does not exist or you do not have access to it.
  </p>

  <div *ngIf="details != undefined">
    <div class="col-6" *ngIf="!loading">
      <div class="card mb-3">
        <div class="card-header">Properties</div>
        <div class="card-body">
          <div *ngFor="let item of details.properties | keyvalue">
            <p
              *ngIf="item.key !== 'fields' && item.key !== 'geographical' && item.key !== 'values' && item.key !== 'latitude' && item.key !== 'longitude'">
              <b>{{ item.key }}:</b> {{ item.value }}
            </p>
          </div>
          <div *ngIf="details.user.logged">
            <button *ngIf="details.user.favorite" class="btn btn-danger" (click)="removeFavorite(sensorName)">Remove from favorites</button>
            <button *ngIf="!details.user.favorite" class="btn btn-success" (click)="addFavorite(sensorName)">Add to favorites</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="!loading && details.properties.geographical">
      <div class="card mb-3">
        <div class="card-header">Geographical data</div>
        <div class="card-body">
          <p *ngIf="details.properties.geographical">
            <b>Location:</b> {{ details.properties.geographical }}
          </p>
          <div *ngFor="let item of details.geometry | keyvalue">
            <p *ngIf="item.key !== 'coordinates'">
              <b>{{ item.key }}:</b> {{ item.value }}
            </p>
          </div>
          <ul>
            <li *ngIf="details.geometry.coordinates[0]">
              <b>Latitude:</b> {{ details.geometry.coordinates[0]}}
            </li>
            <li *ngIf="details.geometry.coordinates[1]">
              <b>Longitude:</b> {{ details.geometry.coordinates[1]}}
            </li>
            <li *ngIf="details.geometry.coordinates[2]">
              <b>Altitude:</b> {{ details.geometry.coordinates[2]}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card mb-3"
      *ngIf="details.properties.stats && (details.properties.stats['start-datetime'] || details.properties.stats['end-datetime'])">
      <div class="card-header">Statistics</div>
      <div class="card-body">
        <div *ngFor="let item of details.properties.stats | keyvalue">
          <p *ngIf="item.key !== 'coordinates'">
            <b>{{ item.key }}:</b> {{ item.value }}
          </p>
        </div>
      </div>
    </div>

  </div>

  <p class="col-12 lead" *ngIf="!loading && details.user.logged && !details.user.has_access">
    You do not have access to this sensor's data. If you think you should have access, please contact your organization
    or make sure you have linked this account to your server's account.
  </p>

  <p class="col-12 lead" *ngIf="!loading && !details.user.logged">
    As a non-registered user, you do not have access to this sensor's data, only its metadata. Please log in or create
    an account.
  </p>

  <div class="col-12" *ngIf="!loading && details.user.has_access">
    <div class="card">
      <div class="card-header">Data</div>
      <div class="card-body">
        <form novalidate class="form" (ngSubmit)="submit()">
          <div class="row"[formGroup]="dateFormGroup">
            <div class="col-6">
              <b>From:</b><br>
              <div>
                <app-date-time-picker formControlName="startDate" name="startDate"></app-date-time-picker>
              </div>
            </div>
            <div class="col-6">
              <label>To:</label><br>
              <div>
                <app-date-time-picker formControlName="endDate" name="startDate"></app-date-time-picker>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" style="margin: 1em">Refresh data</button>
        </form>
        <div class="col-12">
          <div class="row">
            <p style="float: left; display: inline-block" *ngIf="details.properties.values">
              <br>
              {{ details.properties.values.length }} results found for the specified timeframe.
            </p>
            <p style="float: left; display: inline-block" *ngIf="!details.properties.values">
              <br>
              <b>No data found for the specified timeframe.</b>
            </p>
            <h4 style="float: right; display: inline-block">Page size:
              <b class="form-inline">
                <input type="number" [formControl]="pageSize">
              </b>
              <button type="button" class="btn btn-primary form-inline" (click)="updateRowCount()">Apply</button>
            </h4>
          </div>
          <div class="form-group">
            <label class="checkbox-inline" *ngFor="let field of details.properties.fields; let i=index">
              <input type="checkbox" [(ngModel)]="columns[i]" />
              {{ field.name }}
            </label>
          </div>
          <table id="sensor_data_table_id" class="table table-bordered table-hover table-striped" *ngIf="details.properties.fields">
            <thead>
              <tr>
                <th *ngFor="let field of details.properties.fields; let i = index" [hidden]="!columns[i]">
                  {{ field.name }} ({{ field.type }}<span *ngIf="field.unit">, {{ field.unit }}</span>)
                </th>
              </tr>
            </thead>
            <tbody *ngIf="details.properties.values">
              <tr *ngFor="let values of pagedValues">
                <td *ngFor="let value of values; let i = index" [hidden]="!columns[i]">{{ value }}</td>
              </tr>
            </tbody>
          </table>
          <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-primary">Previous</button>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="btn btn-primary">Next</button>

          
          <div class="row">
            <div class="col-6">
              <button class="btn btn-success btn-block" [disabled]="!details.properties.values" (click)="downloadCsv()">
                <i class="bi bi-download"></i>
                Download
              </button>
            </div>
          </div>
          <br>
          <br>
          <div>
            <div style="display: block">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [legend]="lineChartLegend" type="line">
              </canvas>
            </div>
          </div>
          <!-- <highchart *ngIf="details.properties.values" id="chart1" [config]="chartConfig"></highchart> -->
          <br>
          <button class="btn btn-primary" (click)="compare()" [disabled]="!details.properties.values">Compare this graph</button>
          <br>
          <br>
          <button class="btn btn-info" (click)="addFilter(1, '>', 1, filterFunctionList.length)">Add a filter</button>

          <br>
          <br>
          
          <div class="form-group" *ngFor="let fil of filterFunctionList; let i = index">
            <div class="row">
              <div class="col-3">
                <select class="form-control" [(ngModel)]="filterValuesList[i][0]">
                  <option value="">-- choose a column --</option>
                  <option *ngFor="let field of details.properties.fields" [ngValue]="field">{{field.name}}</option>
                </select>
              </div>
              <div class="col-3">
                <select class="form-control" [(ngModel)]="filterValuesList[i][1]">
                  <option value="">-- choose an operator --</option>
                  <option *ngFor="let op of filterOperators" [value]="op">{{op}}</option>
                </select>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" [(ngModel)]="filterValuesList[i][2]" value="10">
              </div>
              <div class="col-3">
               <button class="btn btn-danger" (click)="removeFilter(i)">
                  <i class="bi bi-trash"></i>
                  Remove filter
                </button>
              </div>
              
            </div>
          </div>
          <br>
          
          <button class="btn btn-info" (click)="applyFilterChanges()" [disabled]="!filterFunctionList.length">Apply filters</button>
          
        </div>
      </div>
    </div>
  </div>
</div>
