<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header">Data Export</h1>

        <div class="row">
            <div class="col-lg-5" [formGroup]="formGroup">
                <label>Select sensors to download</label>
                <select formControlName="selectedSensors" multiple class="form-control" style="width: 100%;">
                    <option *ngFor="let sensor of sensors" [value]="sensor">{{ sensor }}</option>
                </select>
            </div>

            <div class="col-lg-5" [formGroup]="formGroup">
                <b>From:</b><br>
                <app-date-time-picker formControlName="startDate" name="startDate"></app-date-time-picker>

                <label>To:</label><br>
                <app-date-time-picker formControlName="endDate" name="endDate"></app-date-time-picker>

                <br>

                <button class="btn btn-primary btn-block" (click)="downloadData()" [disabled]="!formGroup.valid">
                    <i class="fa fa-download"></i> Download
                </button>
            </div>
        </div>
    </div>
</div>